config.ini
.env
main/logs/
*.log
models/*.pkl
!models/.gitkeep
data/basin_levels/*.gpkg
!data/basin_levels/.gitkeep
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.venv/
.ipynb_checkpoints/
.DS_Store
Thumbs.db
